:root{
  --primary-color: #07537faf; /* primary color*/
  --secondary-color: #96d1ecd0; /* secondary color */
  --accent1-color:#f0f8ff; /* accent1 color*/
  --accent2-color: #d14339e3; /* accent2 color */

}

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

/* Header Styles */
header {
  display: grid;
  grid-template-columns: auto 1fr;  /* Logo takes auto space, nav takes remaining */
  align-items: center;
  background-color: var(--primary-color); /* Primary Color */
  color: var(--accent1-color);
  padding: 0 1rem;

}

.navigation{
  display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
  width: 1000px;
  justify-content: center;

}

.navigation a {
	display: block;
  padding: 20px;
  font-weight: bold;
	padding: 20px;
	text-decoration: none;
}
.navigation a:hover {
	color: var(--primary-color);
	font-weight: 700;
}

header img {
  width:220px;
  margin: 0 0.25rem 0 1rem;
  height: auto;
}


body {
  font-family: "Roboto", serif;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}


a{
  color:var(--accent1-color);
  text-decoration: none;
  font-size: x-large;
}



.hero{
  text-align: center;
  position: relative;
}


.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}


h1{
  background-color: var(--primary-color);
  width: 100%;
  height: 100px;
  color: var(--accent1-color);
  position: absolute;
  top: 40px;
  padding: 0.5rem;
  font-size: xxx-large;
  font-style: oblique;
  font-weight: 700;
}


.purpose{
  background-color: var(--primary-color);
  width: 90%;
  height: 250px;
  color: var(--accent1-color);
  position: absolute;
  top: 170px;
  text-align: left;
  margin-left: 3.7rem;
  border-radius: 10px;
}

.purpose img{
  width: 200px;
  height: auto;
  float: right;
  margin: 20px;
  border-radius: 10px;

}

.purpose p{
  color:var(--accent1-color);
  font-style: oblique;
  font-size: x-large;
  margin-left: 0.5rem;
  padding: 0.5rem;
  
}

.purpose h2 {
  margin: 0;
  padding-left: 1rem;
}

/* History Section Styles */
.history {
  background-color: var(--accent1-color);
  padding: 50px ;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  border: var(--accent2-color);
  border-style: solid;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.history h2 {
  margin: 1rem;
  text-align: center;
  grid-column: span 3;
  margin-bottom: 20px;
  font-size: xx-large;
}
.history img{
  max-width: 300px;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 10px;
}
.history p{
  margin: 1rem;
  font-size: x-large;
}


/* Adventure Section Styles */
.adventure {
  display: flex;
  flex-direction: column;
  background-color:var(--secondary-color);
  color: #000;
  padding: 50px 0;
  text-align: center;
  margin: auto;
}

.adventure h2 {
  grid-column: span 5;
  text-align: center;
  margin-bottom: 1rem;
}


.images-container{
  display: flex;
  flex-wrap: wrap;

}

.image-box{
  display: flex;
  flex-direction: column;
  width: 230px;
  height: auto;
  padding: 5px;
  margin: auto;
}

.image-box figcaption{
  font-size: large;
  font-weight: 500;
  margin-top: 5px;
  text-align: center;

}

.image-box img{
  width: 220px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;

}


/* Footer Styles */
footer {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: #000;
  padding: 20px 40px;
  text-align: center;
}

footer p{
  text-align: center;
  font-size: large;
  font-weight: 500;
  padding-left: 6rem ;
  
}

.sociallinks{
  gap: 15px;
  padding-right: 1rem;
}

.sociallinks a img{
  width: 40px;
  height: auto;
  padding-top: 10px;
}

/* Contact Us styles */
.contact-background{
  background-color: var(--primary-color);
  width: 90%;
  height: 250px;
  color: var(--accent1-color);
  position: absolute;
  top: 170px;
  text-align: left;
  margin-left: 3.7rem;
  border-radius: 10px;
  padding: 1rem;
}

.form-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.form-child > * {
  height: 50%;
  width: 100%;
}

.company-details{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}

.company-details p{
  text-align: center;
  font-size: xx-large;
  padding: 1rem;
  border: 1px solid rgb(0, 0, 0);
  
}

#whats-icon{
  width: 40px;
  height: auto;
}

#phone-number-p{
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.company-details h2{
  text-align: center;
  padding: 2rem;
}

.map{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.map iframe{
  width: 500px;
  height: 400px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: auto 0;
}

/* Form styles */
.form-container {
  background-color: var(--secondary-color);
  padding: 1rem ;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: var(--primary-color);
  border-style: solid;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  grid-template-columns: 4fr auto;
  align-content: center;
}

form {
  width: 650px;
  margin: 0 auto;
  padding: 1.5rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  display: grid;
  background-color: var(--accent1-color);
  font-size: x-large;
}

fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

legend {
  padding: 0.5rem;
  color: navy;
  font-size: 1.3em;
  text-align: center;
}

input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

button {
  margin: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: darkgreen;
  }

.form-item {
    display: grid;
    align-items: center;
  }

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
  }

.required {
    color: red; /* Or any color you prefer */
}

textarea{
  resize: none;
}