:root{
  --primary-color: #d14339e3; /* primary color */
  --secondary-color: #96d1ecd0; /* secondary color */
  --accent1-color:#f0f8ff; /* accent1 color*/
  --accent2-color: #07537faf; /* accent2 color*/

}

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

/* Header Styles */
header {
  display: grid;
  grid-template-columns: auto 1fr;  /* Logo takes auto space, nav takes remaining */
  align-items: center;
  background-color: var(--accent2-color); /* Primary Color */
  color: var(--accent1-color);
  padding: 0 1rem;

}

.navigation{
  display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
  max-width: 1000px;
  justify-content: center;

}

.navigation li {
	flex: none;


}
.navigation a {
	display: block;
  padding: 20px;
  font-weight: bold;
	padding: 20px;
	text-decoration: none;
}
.navigation a:hover {
	color: var(--accent2-color);
	font-weight: 700;
}

header img {
  width:300px;
  margin: 0 0.25rem 0 1rem;
  height: auto;
}


body {
  font-family: "Roboto", serif;
  margin: 0;
  padding: 0;
}


a{
  color:var(--accent1-color);
  text-decoration: none;
  font-size: xx-large;
}



.hero{
  text-align: center;
  position: relative;
}


.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


h1{
  background-color: var(--accent2-color);
  width: 100%;
  height: 55px;
  color: var(--accent1-color);
  position: absolute;
  top: 40px;
  padding: 0.5rem;
  font-size: xx-large;
}

.purpose{
  background-color: var(--accent2-color);
  width: 90%;
  height: 250px;
  color: var(--accent1-color);
  position: absolute;
  top: 170px;
  text-align: left;
  margin-left: 2rem;
  border-radius: 10px;
}

.purpose img{
  width: 200px;
  height: auto;
  float: right;
  margin: 20px;
  border-radius: 10px;

}

.purpose p{
  color:var(--accent1-color);
  font-style: oblique;
  font-size: x-large;
  margin-left: 0.5rem;
  padding: 0.5rem;
  
}

.purpose h2 {
  margin: 0;
  padding-left: 1rem;
}

/* History Section Styles */
.history {
background-color: var(--accent1-color);
padding: 50px ;
display: grid;
grid-template-columns: 1fr auto 1fr;
}
.history h2 {
  margin: 1rem;
  text-align: center;
  grid-column: span 3;
  margin-bottom: 20px;
  font-size: xx-large;
}
.history img{
  max-width: 300px;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 10px;
}
.history p{
  margin: 1rem;
  font-size: x-large;
}


/* Adventure Section Styles */
.adventure {
  background-color:var(--secondary-color);
  color: #000;
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;

}

.adventure img{
  width: 100%;
  /* max-width: 180px; */
  height: auto;
  display: block;
  border-radius: 10px;
}

.adventure h2 {
  grid-column: span 5;
  text-align: center;
}

.adventure figcaption{
  font-size: large;
  font-weight: 500;
  margin-top: 8px;
}

.adventure figure{
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}


/* Footer Styles */
footer {
  background-color: var(--primary-color);
  color: var(--accent1-color);
  padding: 20px 0;
  text-align: center;
}

.sociallinks img{
  width: 40px;
  padding-top: 10px;
}
/*  */