* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

/* Header Styles */
header {
  background-color: #d14339e3; /* Primary Color */
  color: #fff;
  padding: 0 1rem;
}

.logo img {
  width:auto;
  max-height: 180px;
}


body {
  font-family: "Roboto", serif;
  margin: 0;
  padding: 0;
}


a{
  color:aliceblue;
  text-decoration: none;
  font-size: x-large;
}



.hero{
  text-align: center;
  position: relative;
}


.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


h1{
  background-color: rgba(7, 83, 127, 0.688);
  width: 100%;
  height: 55px;
  color: hsl(208, 100%, 97%);
  position: absolute;
  top: 40px;
  padding: 0.5rem;
}

.purpose{
  background-color: rgba(7, 83, 127, 0.688);
  width: 90%;
  height: 160px;
  color: hsl(208, 100%, 97%);
  position: absolute;
  top: 150px;
  text-align: left;
  margin-left: 3rem;
}

.purpose img{
  width: 200px;
  height: auto;
  float: right;
  padding: 1rem;
}

.purpose p{
  color:hsl(0, 0%, 100%);
  font-style: oblique;
  font-size: large;
  margin-top: 20px;
  padding: 0.5rem;
}

h2{
  margin: 1rem
}

p{
  margin: 1rem;
}

/* Footer Styles */
footer {
  background-color: #D14339; /* Primary Color */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
